/* _sass/_base.scss */
h1 {
    font-size: 2em; /* 기존 크기에서 줄임 */
  }
  
  h2 {
    font-size: 1.5em; /* 기존 크기에서 줄임 */
  }
  
  h3 {
    font-size: 1.2em; /* 기존 크기에서 줄임 */
  }
  
  /* 필요한 경우 다른 제목 요소도 수정 */